  /* .transaction {
      margin-left: 25px;
      margin-right: 25px;
    }

    .transaction-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      margin-bottom: 25px;
      margin-right: 25px;
    }
    
    .transaction-table th, .transaction-table td {
      border-bottom: 1px solid #ddd;
      text-align: left;
      padding: 10px;
    }
    
    .transaction-table tr:hover {
      background-color: #f9f9f9;
    }
    
    .income {
      color: green;
    }
    
    .expense {
      color: red;
    } */

.content-aruanne{
  position: relative;
}

.chart-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chart-title {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #2C3E50;
    margin-bottom: 10px;
}

.detailed-table-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: 300px; /* Piirame maksimaalse kõrguse */
    overflow-y: auto; /* Lisame vertikaalse kerimise ainult sisule */
    border: 1px solid #ddd;
    border-radius: 5px;
}

.detailed-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
}

.detailed-table thead {
    position: sticky;
    top: 0; /* Päis jääb alati nähtavaks */
    background-color: #F5C28B; /* Päise taustavärv */
    z-index: 1;
}

.detailed-table th,
.detailed-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    line-height: 1.5; /* Lahtri sisu korrektne joondus */
}

.detailed-table th {
    height: 50px; /* Päiserea kõrgus */
    color: #333;
    font-weight: bold;
}

.detailed-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.detailed-table tbody tr:hover {
    background-color: #f1f1f1;
}

.footer{
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 75px;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-right-radius: 27px;
  font-size: 17px;
  width: 1200px;
}