.introduction{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

.expense-inputs{
    margin-left: 30px;
    font-size: 35px;
}

.expense-value{
    font-size: 30px;
    border-radius: 10px;
    border: solid 2px;
    padding: 5px 10px;
    margin-bottom: 25px;
}

.expense-description{
    font-size: 30px;
    border-radius: 10px;
    border: solid 2px;
    padding: 5px 10px;
    margin-bottom: 25px;
}

.add-expense-button{
    font-size: 30px;
    border-radius: 10px;
    padding: 15px 35px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: rgb(212, 182, 143);
    box-shadow: 0 8px rgba(0, 0, 0, 0.3);
}

.add-expense-button:hover{
    background-color: rgb(189, 163, 128);
}

.add-expense-button:active{
    background-color: rgb(189, 163, 128);
    box-shadow: 0 4px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}